<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Icon -->
  <link href="{{base_dir}}/static/of.ico" rel="icon">
  <title>Error</title>
</head>

<body>
  <p>There are no files under this path, please check whether the access path is correct. Or try <a href="#"
      onClick="JavaScript:location.href='{{base_dir}}/v1/index';">Return to Home.</a></p>
</body>

</html>
